<div [formGroup]="formGroup" [ngSwitch]="question.controlType">
  <mat-form-field *ngSwitchCase="'input'">
    <input
      matInput
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      [placeholder]="question.label"
    />
    <mat-error *ngIf="hasErrorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field *ngSwitchCase="'select'">
    <mat-label>{{ question.label }}</mat-label>
    <mat-select [id]="question.key" [formControlName]="question.key">
      <mat-option *ngFor="let opt of question.options" [value]="opt.value">{{
        opt.key
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="hasErrorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-checkbox
    *ngSwitchCase="'checkbox'"
    [id]="question.key"
    [formControlName]="question.key"
  >
    {{ question.label }}
  </mat-checkbox>

  <div *ngSwitchCase="'radio'">
    <label *ngIf="question.label">{{ question.label }}</label>
    <mat-radio-group
      aria-label="question.label"
      [formControlName]="question.key"
    >
      <mat-radio-button
        *ngFor="let opt of question.options"
        [value]="opt.value"
        >{{ opt.label }}</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <!-- <div>
    {{ abstractControl.errors | json }}
  </div> -->
</div>
