<div>
    <h1>{{dynamicFormData.title}}</h1>
    <form (ngSubmit)="submit()" [formGroup]="form">

        <app-question-container [questionData]="questions" [formGroup]="form">
        </app-question-container>

        <div class="row">
            <div class="col-xs-12">
                <button [ngClass]="{'submitting': submitting}" type="submit" mat-raised-button color="accent"
                    [disabled]="!form.valid">
                    <span>{{onSubmit.label}}</span>
                    <span class="spinner-wrapper" *ngIf="submitting">
                        <mat-spinner [diameter]="18"></mat-spinner>
                    </span>
                </button>
                <button *ngIf="onCancel" class="cancel__button" (click)="cancel()"
                    type="button" mat-raised-button color="warn" [disabled]="submitting">onCancel.label</button>
            </div>
        </div>
    </form>

</div>